<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
           
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:jdbc.properties</value>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true"></property>
	</bean>

    <!--扫描mapper-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 会话工厂 -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"></property>
        <!-- 扫描包路径
         多个包中间用半角逗号分隔
          -->
        <property name="basePackage" value="cn.chiucheung.dao.mapper"></property>
    </bean>

    <!-- 配置SqlSessionFactory -->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 数据源 -->
        <property name="dataSource" ref="dataSource"></property>
        <!-- 配置SqlMapConfig.xml -->
        <property name="mapperLocations" value="classpath:cn/chiucheung/dao/mapper/*/*/*.xml"></property>
    </bean>

	
	<bean id="dataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<!-- 开发阶段数据库最大连接数建议设置小一点够用即可，设置为3 -->
		<property name="maxActive" value="${jdbc.maxActive}" />
		<property name="maxIdle" value="${jdbc.maxIdle}" />
		<!-- 
		spring管理mybatis后，
		操作数据库是自动提交事物，如果需要管理好事物，则要进入如下设置，然后在事物的通知里面需要配置哪些需要事物的，
		如果不配置，将不会自动提交事物，由于不自动提交事物，增、删、改将失效；
		-->
		<property name="defaultAutoCommit" value="false"></property>
	</bean>
	
	<!-- 事务管理 -->
	
	<!-- 事务管理器
	mybatis使用jdbc事务管理
	 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 数据源 -->
    	<property name="dataSource" ref="dataSource"></property>
    </bean>
    
    <!-- 通知 -->
	<tx:advice id="tx" transaction-manager="transactionManager">
		<!-- 配置传播行为 -->
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED"/>
			<tx:method name="insert*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="copy*" propagation="REQUIRED"/>
			<tx:method name="audit*" propagation="REQUIRED"/>
			<tx:method name="reAudit*" propagation="REQUIRED"/>
			<tx:method name="antiAudit*" propagation="REQUIRED"/>
			<tx:method name="rollBack*" propagation="REQUIRED"/>
			<tx:method name="takeBack*" propagation="REQUIRED"/>
			<tx:method name="revoke*" propagation="REQUIRED"/>
			<tx:method name="generate*" propagation="REQUIRED"/>
			<tx:method name="*" propagation="SUPPORTS" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- aop配置 -->
	<aop:config>
		<aop:advisor advice-ref="tx"
		 pointcut="execution(* cn.chiucheung.service.*.*.*(..))"/>
	</aop:config>
   
	
</beans>