<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.chiucheung.dao.mapper.production.producttechnologyflowchart.ProProductTechnologyFlowChartNodeDataArrayMapper" >
  <resultMap id="BaseResultMap" type="cn.chiucheung.po.production.producttechnologyflowchart.ProProductTechnologyFlowChartNodeDataArray" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="loc" property="loc" jdbcType="VARCHAR" />
    <result column="total_time" property="totalTime" jdbcType="DECIMAL" />
    <result column="pro_process_id" property="proProcessId" jdbcType="VARCHAR" />
    <result column="pro_product_technology_work_hours_id" property="proProductTechnologyWorkHoursId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, category, key, loc, total_time, pro_process_id, pro_product_technology_work_hours_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.chiucheung.po.production.producttechnologyflowchart.ProProductTechnologyFlowChartNodeDataArrayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pro_product_technology_flow_chart_node_data_array
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pro_product_technology_flow_chart_node_data_array
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pro_product_technology_flow_chart_node_data_array
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.chiucheung.po.production.producttechnologyflowchart.ProProductTechnologyFlowChartNodeDataArrayExample" >
    delete from pro_product_technology_flow_chart_node_data_array
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.chiucheung.po.production.producttechnologyflowchart.ProProductTechnologyFlowChartNodeDataArray" >
    insert into pro_product_technology_flow_chart_node_data_array (id, category, key, 
      loc, total_time, pro_process_id, 
      pro_product_technology_work_hours_id)
    values (#{id,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, 
      #{loc,jdbcType=VARCHAR}, #{totalTime,jdbcType=DECIMAL}, #{proProcessId,jdbcType=VARCHAR}, 
      #{proProductTechnologyWorkHoursId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.chiucheung.po.production.producttechnologyflowchart.ProProductTechnologyFlowChartNodeDataArray" >
    insert into pro_product_technology_flow_chart_node_data_array
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="key != null" >
        key,
      </if>
      <if test="loc != null" >
        loc,
      </if>
      <if test="totalTime != null" >
        total_time,
      </if>
      <if test="proProcessId != null" >
        pro_process_id,
      </if>
      <if test="proProductTechnologyWorkHoursId != null" >
        pro_product_technology_work_hours_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="loc != null" >
        #{loc,jdbcType=VARCHAR},
      </if>
      <if test="totalTime != null" >
        #{totalTime,jdbcType=DECIMAL},
      </if>
      <if test="proProcessId != null" >
        #{proProcessId,jdbcType=VARCHAR},
      </if>
      <if test="proProductTechnologyWorkHoursId != null" >
        #{proProductTechnologyWorkHoursId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.chiucheung.po.production.producttechnologyflowchart.ProProductTechnologyFlowChartNodeDataArrayExample" resultType="java.lang.Integer" >
    select count(*) from pro_product_technology_flow_chart_node_data_array
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pro_product_technology_flow_chart_node_data_array
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.key != null" >
        key = #{record.key,jdbcType=VARCHAR},
      </if>
      <if test="record.loc != null" >
        loc = #{record.loc,jdbcType=VARCHAR},
      </if>
      <if test="record.totalTime != null" >
        total_time = #{record.totalTime,jdbcType=DECIMAL},
      </if>
      <if test="record.proProcessId != null" >
        pro_process_id = #{record.proProcessId,jdbcType=VARCHAR},
      </if>
      <if test="record.proProductTechnologyWorkHoursId != null" >
        pro_product_technology_work_hours_id = #{record.proProductTechnologyWorkHoursId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pro_product_technology_flow_chart_node_data_array
    set id = #{record.id,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=VARCHAR},
      key = #{record.key,jdbcType=VARCHAR},
      loc = #{record.loc,jdbcType=VARCHAR},
      total_time = #{record.totalTime,jdbcType=DECIMAL},
      pro_process_id = #{record.proProcessId,jdbcType=VARCHAR},
      pro_product_technology_work_hours_id = #{record.proProductTechnologyWorkHoursId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.chiucheung.po.production.producttechnologyflowchart.ProProductTechnologyFlowChartNodeDataArray" >
    update pro_product_technology_flow_chart_node_data_array
    <set >
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="loc != null" >
        loc = #{loc,jdbcType=VARCHAR},
      </if>
      <if test="totalTime != null" >
        total_time = #{totalTime,jdbcType=DECIMAL},
      </if>
      <if test="proProcessId != null" >
        pro_process_id = #{proProcessId,jdbcType=VARCHAR},
      </if>
      <if test="proProductTechnologyWorkHoursId != null" >
        pro_product_technology_work_hours_id = #{proProductTechnologyWorkHoursId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.chiucheung.po.production.producttechnologyflowchart.ProProductTechnologyFlowChartNodeDataArray" >
    update pro_product_technology_flow_chart_node_data_array
    set category = #{category,jdbcType=VARCHAR},
      key = #{key,jdbcType=VARCHAR},
      loc = #{loc,jdbcType=VARCHAR},
      total_time = #{totalTime,jdbcType=DECIMAL},
      pro_process_id = #{proProcessId,jdbcType=VARCHAR},
      pro_product_technology_work_hours_id = #{proProductTechnologyWorkHoursId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
    
  
  
  <!-- 自定义 -->
  <!-- 上面的方法都不能用，因为有关键字，要改成`column`，这种格式 -->
  <!-- 批量插入 -->
  <insert id="insertList" parameterType="java.util.List" >
    insert into pro_product_technology_flow_chart_node_data_array (id, category, `key`, loc, total_time, pro_process_id, pro_product_technology_work_hours_id) values 
    
    <foreach collection="list" item="item" index="index" separator=",">
		(
			#{item.id},
			#{item.category},
			#{item.key},
			#{item.loc},
			#{item.totalTime},
			#{item.proProcessId},
			#{item.proProductTechnologyWorkHoursId}
		)
	</foreach>
  </insert>
  
  
  <!--  -->
  <select id="findProProductTechnologyFlowChartNodeDataArrayCustomByProProductTechlogyWorkHoursId" parameterType="string" resultType="cn.chiucheung.pojo.production.producttechnologyflowchart.ProProductTechnologyFlowChartNodeDataArrayCustom">
  	SELECT
		n.category category,
		n.key `key`,
		n.loc loc,
		n.total_time totalTime,
		n.pro_process_id proProcessId,
		p.process_name processName,
		p.process_category processCategory
	FROM
		pro_product_technology_flow_chart_node_data_array n
	LEFT JOIN pro_process p ON p.id = n.pro_process_id
	WHERE
		n.pro_product_technology_work_hours_id = #{id}
  </select>
</mapper>