<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.chiucheung.dao.mapper.warehouse.basedata.WarBaseDataMapper" >
	<!-- 开启二级缓存 -->
	<cache></cache>
  <resultMap id="BaseResultMap" type="cn.chiucheung.po.warehouse.basedata.WarBaseData" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="dictionarie_code" property="dictionarieCode" jdbcType="INTEGER" />
    <result column="dictionarie_name" property="dictionarieName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, keyword, dictionarie_code, dictionarie_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.chiucheung.po.warehouse.basedata.WarBaseDataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from war_base_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from war_base_data
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from war_base_data
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.chiucheung.po.warehouse.basedata.WarBaseDataExample" >
    delete from war_base_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.chiucheung.po.warehouse.basedata.WarBaseData" >
    insert into war_base_data (id, keyword, dictionarie_code, 
      dictionarie_name)
    values (#{id,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, #{dictionarieCode,jdbcType=INTEGER}, 
      #{dictionarieName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.chiucheung.po.warehouse.basedata.WarBaseData" >
    insert into war_base_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="dictionarieCode != null" >
        dictionarie_code,
      </if>
      <if test="dictionarieName != null" >
        dictionarie_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="dictionarieCode != null" >
        #{dictionarieCode,jdbcType=INTEGER},
      </if>
      <if test="dictionarieName != null" >
        #{dictionarieName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.chiucheung.po.warehouse.basedata.WarBaseDataExample" resultType="java.lang.Integer" >
    select count(*) from war_base_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update war_base_data
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.keyword != null" >
        keyword = #{record.keyword,jdbcType=VARCHAR},
      </if>
      <if test="record.dictionarieCode != null" >
        dictionarie_code = #{record.dictionarieCode,jdbcType=INTEGER},
      </if>
      <if test="record.dictionarieName != null" >
        dictionarie_name = #{record.dictionarieName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update war_base_data
    set id = #{record.id,jdbcType=VARCHAR},
      keyword = #{record.keyword,jdbcType=VARCHAR},
      dictionarie_code = #{record.dictionarieCode,jdbcType=INTEGER},
      dictionarie_name = #{record.dictionarieName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.chiucheung.po.warehouse.basedata.WarBaseData" >
    update war_base_data
    <set >
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="dictionarieCode != null" >
        dictionarie_code = #{dictionarieCode,jdbcType=INTEGER},
      </if>
      <if test="dictionarieName != null" >
        dictionarie_name = #{dictionarieName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.chiucheung.po.warehouse.basedata.WarBaseData" >
    update war_base_data
    set keyword = #{keyword,jdbcType=VARCHAR},
      dictionarie_code = #{dictionarieCode,jdbcType=INTEGER},
      dictionarie_name = #{dictionarieName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    
    
  <!-- 自定义 -->
  
  <!-- 查询不重复的keyword -->
  <select id="findAllKeywordByDistinct" resultType="cn.chiucheung.po.warehouse.basedata.WarBaseData">
  	SELECT DISTINCT keyword FROM war_base_data
  </select>
</mapper>